* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: #000;
    transition: 0.4s ease;
}

.container {
    width: 100vw;
    height: 85vh;
    /* background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d); */
    display: grid;
    place-items: center;
}

.form-login .logo {
    margin-top: 30px;
}

.content {
    position: fixed;
    top: 50px;
    width: 55vw;
    height: 80vh;
    /* box-shadow: -10px 0px 40px rgb(19, 18, 18); */
    border-radius: 10px;
    padding: 5px;
}


.left-side {
    position: relative;
    float: left;
    margin-left: 7vw;
    margin-top: 8vh;
}

.right-side {
    position: relative;
    float: right;

}

input::-webkit-input-placeholder {
    font-size: .75em;
    position: relative;
    top: -15px;

}

input {
    width: 270px;
    height: 38px;
    color: #000;
    padding: 5px 0 0 10px;
    font-size: 12px;
    background-color: #E8F0FE;
    border: 1px solid rgb(168, 168, 168);
    margin-top: 10px;
    border-radius: 5px;
}

.form-login {
    display: grid;
    place-items: center;
    background-color: #FFF;
    margin-top: 10vh;
    margin-right: 5vw;
    display: grid;
    place-items: center;
    height: max-content;
    width: 18vw;
    padding: 20px 0 0 0;
    border-radius: 1px;
    border: 1px solid rgb(197, 197, 197);

}
.footer-login{
    width: 18vw;
    height: 60px;
    margin-top: 12px;
    background-color: #FFF;
    text-align: center;   
    padding: 20px 0 0 0;
    border-radius: 1px;
    border: 1px solid rgb(197, 197, 197);
}

.btn-login {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 268px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: #fff;
    background-color: #0095F6;
    margin-bottom: 20px;
}

a {
    color: #9B9BB9;
    margin-top: 20px;
    text-decoration: none;
}

.forget-pass {
    color: #87D3FF;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.apps-div{
    margin-top: 20px;
    width: 18vw;
    height: 100px; 
    text-align: center;
}
.apps .title{
    width: 18vw;
    height: 100px; 
}
.apps{
    margin-top: 20px;
    width: 140px;
    height: 40px;
}

footer{
    width: 100vw;
    word-spacing: 10px;
    justify-content:space-between ;
    text-align: center;
}
.footer2{
    margin-top: 10px;
    width: 100vw;
    justify-content:space-between ;
    font-size: 5px;
    text-align: center;
}

select{
    width: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: none;
    border-right: none;
    margin-top: 7px;
    text-align: center;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }

.links{
    font-size: 1px;
}